@model IEnumerable<FitSync.Models.WeeklyCheatMealReportData>

@{
    ViewBag.Title = "WeeklyCheatMealReport";
    double TotalCaloriesIntake = 0;

}

<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-xxl-12 mr-auto">
                            <div class="d-sm-flex d-block align-items-center">
                                <div>
                                    <h4 class="fs-20 text-black">Generate your cheat meal report for now </h4>
                                    <p class="fs-14 mb-0"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-xxl-12 mt-3">
                            <form method="post" action="@Url.Action("WeeklyCheatMealReport")">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm">Date</label>
                                        <div class="input-group input-group-sm">
                                            <input type="date" name="selectedDate" class="form-control-sm" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <small class="d-block"></small>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm mb-2"></label>
                                        <div class="input-group input-group-sm">
                                            <button type="submit" class="btn btn-primary btn-md mb-2">Generate Report<i class="las la-angle-right ml-3 scale5"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-8 col-lg-8">
            <div class="card">
                <div class="card-header bg-white">
                    <div class="d-flex align-items-center mr-3">
                        <h4 class="fs-20 text-black mb-0">Weekly Report - @ViewBag.From.ToShortDateString() - @ViewBag.To.ToShortDateString() -  Cheat Meals</h4>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table shadow-hover">
                            <thead>
                                <tr>
                                    <th><span class="font-w600 text-black fs-16">Date</span></th>
                                    <th><span class="font-w600 text-black fs-16">Meal</span></th>
                                    <th><span class="font-w600 text-black fs-16">Total Calories</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dailyReport in Model)
                                {

                                    <tr>
                                        <td>
                                            <p class="text-black mb-1 font-w600">@dailyReport.Date.DayOfWeek.ToString()</p>
                                            <span class="fs-14">@dailyReport.Date.ToShortDateString()</span>
                                        </td>
                                        <td>
                                            @if (dailyReport.CheatMeals.Any())
                                            {
                                                foreach (var cheatMeal in dailyReport.CheatMeals)
                                                {
                                                    double dailyCaloriesBurned = cheatMeal.Calories * cheatMeal.Qty;
                                                    TotalCaloriesIntake += dailyCaloriesBurned;

                                                    <div class="d-flex py-3 align-items-center">
                                                        <span class="activity-icon border border-info border-2 mr-3">
                                                            <img src="~/Assets/cheatMeals/@(cheatMeal.Meal).svg" alt="SVG" width="24" height="24"/>
                                                        </span>
                                                        <div>
                                                            <h6 class="font-w600 fs-16 mb-0">@cheatMeal.Meal</h6>

                                                    
                                                            <span class="fs-12">@cheatMeal.Calories Cal</span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div>No Cheat Meals! Great!</div>
                                            }
                                        </td>
                                        <td>
                                            <p class="text-black mb-1 font-w600">@dailyReport.CheatMeals.Sum(w => w.Calories * w.Qty)</p>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-xxl-4 col-lg-4">
            <div class="card">
                <div class="card-header d-sm-flex d-block border-0">
                    <div class="mr-auto pr-3">
                        <h4 class="text-black fs-20">
                            <span class="mr-sm-3 mr-2 rounded-circle">
                                <img src="~/Assets/cheatMeals/French Fries.svg" alt="SVG" width="48"/>
                            </span>
                            Weekly Summary - Cheat Meals
                        </h4>
                        <p class="fs-13 mb-0"></p>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="d-flex align-items-center bgl-info p-4">
                        <svg class="mr-3" width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="51" height="51" rx="25.5" fill="#1EA7C5" />
                            <g clip-path="url()">
                                <path d="M23.8586 19.226L18.8712 24.5542C18.5076 25.0845 18.6439 25.8068 19.1717 26.1679L24.1945 29.6098L24.1945 32.9558C24.1945 33.5921 24.6995 34.125 25.3359 34.1376C25.9874 34.1477 26.5177 33.6249 26.5177 32.976L26.5177 29.0012C26.5177 28.6174 26.3283 28.2588 26.0126 28.0442L22.7904 25.8346L25.5025 22.9583L26.8914 26.1225C27.0758 26.5442 27.4949 26.8169 27.9546 26.8169L32.1844 26.8169C32.8207 26.8169 33.3536 26.3119 33.3662 25.6755C33.3763 25.024 32.8536 24.4937 32.2046 24.4937L28.7172 24.4937C28.2576 23.4482 27.7677 22.4129 27.3409 21.3522C27.1237 20.8169 27.0025 20.5846 26.6036 20.2159C26.5227 20.1401 25.9596 19.625 25.4571 19.1654C24.995 18.7462 24.2828 18.7739 23.8586 19.226Z" fill="white" />
                                <path d="M28.6162 19.8068C30.0861 19.8068 31.2778 18.6151 31.2778 17.1452C31.2778 15.6752 30.0861 14.4836 28.6162 14.4836C27.1462 14.4836 25.9545 15.6752 25.9545 17.1452C25.9545 18.6151 27.1462 19.8068 28.6162 19.8068Z" fill="white" />
                                <path d="M17.899 37.5164C20.6046 37.5164 22.798 35.323 22.798 32.6174C22.798 29.9117 20.6046 27.7184 17.899 27.7184C15.1934 27.7184 13 29.9117 13 32.6174C13 35.323 15.1934 37.5164 17.899 37.5164Z" fill="white" />
                                <path d="M32.101 37.5164C34.8066 37.5164 37 35.323 37 32.6174C37 29.9118 34.8066 27.7184 32.101 27.7184C29.3954 27.7184 27.202 29.9118 27.202 32.6174C27.202 35.323 29.3954 37.5164 32.101 37.5164Z" fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip8">
                                    <rect width="24" height="24" fill="white" transform="translate(13 14)" />
                                </clipPath>
                            </defs>
                        </svg>
                        <div>
                            <h6 class="fs-16 text-black mb-0">Current Stats</h6>
                            <span class="fs-12">Cheat meal calorie intake</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap p-4">
                        <div class="mr-5 mb-3">
                            <p class="fs-14 mb-2">Calories Intake for week</p>
                            <span class="fs-20 font-w500 text-black">@TotalCaloriesIntake Cal</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>