@model FitSync.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Assets/css/style.css" rel="stylesheet">
</head>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">
                                        <img class="brand-title" src="~/Assets/images/fitsync.png" alt="" height="50">
                                    </h4>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row col-md-12">
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label-sm">Name</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name", @Value = "John Doe" } })
                                        </div>
                                        <small class="d-block">  @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="col-form-label-sm">Date of Birth</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", type = "date", @Max = DateTime.Today.AddYears(-16).ToString("yyyy-MM-dd") } })
                                        </div>
                                        <small class="d-block">  @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })  </small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm">Email</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email", @Value = "example@example.com" } })
                                        </div>
                                        <small class="d-block">  @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm">Mobile</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter telephone", @Value = "0779920071" } })
                                        </div>
                                        <small class="d-block"> @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm">Daily Exercise Goal</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.DailyExerciseGoal, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Daily Exercise Goal", @Value = "60" } })
                                        </div>
                                        <small class="d-block">   @Html.ValidationMessageFor(model => model.DailyExerciseGoal, "", new { @class = "text-danger" })</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="col-form-label-sm">Daily Calorie Goal</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.DailyCalorieGoal, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Daily Calorie Goal", @Value = "400" } })
                                        </div>
                                        <small class="d-block">   @Html.ValidationMessageFor(model => model.DailyCalorieGoal, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="col-form-label-sm">Weight</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter weight", @Value = "60" } })
                                        </div>
                                        <small class="d-block">   @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })</small>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="col-form-label-sm">Height</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter height", @Value = "160" } })
                                        </div>
                                        <small class="d-block">   @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="col-form-label-sm">Blood Type</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.BloodType, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter blood type", @Value = "O+" } })
                                        </div>
                                        <small class="d-block">   @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" }) </small>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="col-form-label-sm">Gender</label>
                                        <div class="input-group input-group-sm">
                                            <div class="radio-inline col-form-label-sm mr-5 ml-3">
                                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-check-input" })
                                                Male
                                            </div>
                                            <br />
                                            <div class="radio-inline col-form-label-sm">
                                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input" })
                                                Female
                                            </div>
                                        </div>
                                        <small class="d-block">@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })</small>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Sign me up</button>

                                </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Assets/vendor/global/global.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/js/custom.min.js"></script>
    <script src="~/Assets/js/deznav-init.js"></script>

</body>
</html>
